


{% block content %}
<h2>Determine if a country is happy based on its GDP and alcholo consumtion</h2>
<form method=post>
    <dl>
        <p>
            <h3>Consumption</h3>
            Enter the Alcohol Consumtion <br/><br/>
            {{form.consumption}}
        </p>
        <p>
            <h3>GDP</h3>
            Enter GDP <br/><br/>
            {{form.gdp}}
        </p>
        <p>
        </p>
            
        <p>
            <h3>Name the Imaginary Country (optional)</h3> 
          You can give a name to the country you are "weighing", if you like.<br /><br />
            {{form.text}}
        </p>
    </dl>
    <p><input type="submit" value="submit"</p>
 </form>
{% endblock %} 
